
<mat-grid-list cols="5" rowHeight="2:1"></mat-grid-list>
    <mat-grid-tile>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/images/pdf.png" alt="Avatar">
                    <p>pyaesoneaung.txt</p>
                </div>
                <div class="flip-card-back">
                    <div class="center"> 
                        <div class="row">
                            <button>click</button>
                            <button>click</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>